extends layout

block layout-content
  h1.title.is-size-1-desktop.is-size-2-touch.glitch(data-text="BlueMoonDevelopment")
    p BlueMoonDevelopment 
  h2.subtitle.is-size-6-touch.has-text-centered.is-inline-flex 
    p More content to come!